UnityVSModuleBuilder/packages/
UnityVSModuleBuilder/UnityVSModuleBuilderTests/bin/
UnityVSModuleBuilder/UnityVSModuleBuilder/bin/
UnityVSModuleBuilder/UnityVSModuleBuilderDrivers/bin/
UnityVSModuleBuilder/UnityVSModuleBuilder/obj/
UnityVSModuleBuilder/UnityVSModuleBuilderTests/obj/
UnityVSModuleBuilder/UnityVSModuleBuilderDrivers/obj/
*.VisualState.xml
*.FileListAbsolute.txt
*TestResult.xml
UnityVSModuleBuilder/UnityVSModuleEditor/bin/
UnityVSModuleBuilder/UnityVSModuleEditor/obj/
UnityVSModuleBuilder/UnityVSModuleCommon/bin/
UnityVSModuleBuilder/UnityVSModuleCommon/obj/
UnityVSModuleBuilder/UnityVSModuleEditorTests/bin/
UnityVSModuleBuilder/UnityVSModuleEditorTests/obj/
