UnityVSModuleBuilder/packages/
UnityVSModuleBuilder/UnityVSModuleBuilderTests/bin/
UnityVSModuleBuilder/UnityVSModuleBuilder/bin/
UnityVSModuleBuilder/UnityVSModuleBuilderDrivers/bin/
UnityVSModuleBuilder/UnityVSModuleBuilder/obj/
UnityVSModuleBuilder/UnityVSModuleBuilderTests/obj/
UnityVSModuleBuilder/UnityVSModuleBuilderDrivers/obj/
*.VisualState.xml
*.FileListAbsolute.txt
